@font-face{
  font-family: 'HandWriteFont';
  src: url('../fonts/DancingScript/static/DancingScript-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'LibreBaskerville';
  src: url('../fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Amatic';
  src: url('../fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'AmaticB';
  src: url('../fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
}

.menu {
  position:fixed;
  z-index:79;
  left:0px;
  top:0px;
  width:100%;
  height:67px;
  color: #5f0220;
  /* background-color:#b5803b; */
}

html {
  scroll-behavior: smooth;
}

.menu-blur {
  z-index:78;
  background-color:#ffffff;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.menu-header {
  padding-top:0px;
  padding-left:30px;
  display:inline-block;
  font: 350% / 1.2 AmaticB; 
  float:left;
}

.menu-item {
  padding-top:0px;
  padding-left:15px;
  padding-right:15px;
  display:inline-block;
  font: 220% / 2 AmaticB; 
  float:right;
  color: #5f0220;
  transition: padding-top 0.2s;
}

.menu-item:hover {
  padding-top:15px;
  color: #b5803b;
}

.content {
  width:100%;
  height:100%;
  min-height:100vh;
  /*position: static;*/
  padding-top:0px;
  overflow: auto;
  /*border: 4px solid #000000;*/
}

.b1c {
  width: 100%;
  min-height: 49vw;
  background-image: url(../img/bg_pair.png);
  background-position: center;
  background-size: contain ;
  background-repeat: no-repeat;
}

.hline {
  position:static;
  background-image: url(../img/separator.png);
  background-position: center;
  background-size: auto 70% ;
  background-repeat: no-repeat;
  min-height:30px;
  padding-bottom:0px;
  padding-top:20px;
}

h2 {
  display:block;
  font-family: "Lucida Console", Courier, monospace;
  font: 250% / 1.2 Courier; 
  float:left;
  text-align: center;
  width: 100%;
}

h4 {
  display:block;
  font-family: "Lucida Console", Courier, monospace;
  font: 160% / 1.2 Courier; 
  font-weight:bold;
  color:#5f0220;
  float:left;
  text-align: center;
  width: 100%;
}

table {
  margin-left:auto;
  margin-right:auto;
}

th,td {
  padding-left: 0px;
  
  font: 160% / 2 LibreBaskerville; 
  vertical-align:top;
}

#carousel-indicators img {
  width: auto;
  height: 26rem;
  max-height: 16rem;
}

.carousel-item img {
  width: 100%;
  min-height: 300px;
  background: cover;
  object-fit: cover;
  overflow: hidden;
}

.ontop-all {
  z-index: 99;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  /*
  https://webgradients.com/
  background: url('../img/bg-masthead.jpg') no-repeat center center;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  background-image: linear-gradient(indigo, blue);
  background-image: linear-gradient(#667db6,#0082c8);
  background-image: linear-gradient(to right, #e1eec3, #f05053);
  background-image: linear-gradient(to right, #0082c8, #667db6);
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to right, #2575fc 0%, #6a11cb 100%);
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  */
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*
  padding-top: 3rem;
  padding-bottom: 3rem;
  */
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 0em;
}

.showcase .showcase-img {
  min-height: 30rem;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 900px) {
  .showcase .showcase-text {
    padding: 3rem;
    padding-left:1em;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/call-to-action-2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* to make it on top of all*/
.ontop-all {
  z-index: 99;
}

/* the sticky class is added to the navbar with js when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* unvisited link */
a:link {
  color: #5f0220;
}

/* visited link */
a:visited {
  color: #b5803b;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #b5803b;
} 

.cnt{
  padding-top:20%;
  padding-right:80vw;
  text-align:right;
  font-family: "Lucida Console", Courier, monospace;
  font: 250% / 1.2 Courier; 
}
