@font-face{
  font-family: 'HandWriteFont';
  src: url('../fonts/DancingScript/static/DancingScript-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'LibreBaskerville';
  src: url('../fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Amatic';
  src: url('../fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'AmaticB';
  src: url('../fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
}

.menu {
  position:fixed;
  z-index:79;
  left:0px;
  top:0px;
  width:100%;
  height:67px;
  color: #5f0220;
  /* background-color:#b5803b; */
}

.menu-blur {
  z-index:78;
  background-color:#ffffff;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.menu-header {
  padding-top:0px;
  padding-left:30px;
  display:inline-block;
  font: 350% / 1.2 AmaticB; 
  float:left;
}

.menu-item {
  padding-top:0px;
  padding-left:15px;
  padding-right:15px;
  display:inline-block;
  font: 220% / 2 AmaticB; 
  float:right;
  color: #5f0220;
  transition: padding-top 0.2s;
}

.menu-item:hover {
  padding-top:15px;
  color: #b5803b;
}

.content {
  width:100%;
  height:100%;
  min-height:100vh;
  position: static;
  padding-top:0px;
  overflow: auto;
  /*border: 4px solid #000000;*/
}

.b1c {
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: auto 100% ;
  background-repeat: no-repeat;
}

.hline {
  position:static;
  background-image: url(../img/Image004.png);
  background-position: center;
  background-size: auto 70% ;
  background-repeat: no-repeat;
  min-height:30px;
  padding-bottom:0px;
}

h2 {
  display:block;
  font: 250% / 0.2 AmaticB; 
  float:left;
  text-align: center;
  width: 100%;
}

table {
  margin-left:auto;
  margin-right:auto;
}

th,td {
  padding-left: 40px;
  font: 120% / 2 LibreBaskerville; 
  vertical-align:top;
}
